{% extends 'paginas_base/base.html' %}

{% block titulo %}Página Nosotros {% endblock titulo %}
{% block contenido %}
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-primary">
        <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">PRoA</h1>
        <p class="lead my-3">Escuelas con modelo en innovación educativa, que forman jóvenes especializados en Desarrollo de Software, en Biotecnología y Técnico en Programación
          .</p>
        <p class="lead mb-0"><a href="#" class="text-white fw-bold">...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Ubicaciones</strong>
              <h3 class="mb-0">Escuelas PRoA</h3>
              <div class="mb-1 text-muted">Ago 19</div>
              <p class="card-text mb-auto">Actualmente funcionan más de 41 Escuelas ProA en toda la provincia y se estan construyendo 34 edificios propios de exclusivo diseño.</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="220" height="240" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Mas sobre</text></svg>
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-success">Especialidades</strong>
              <h3 class="mb-0">Especializacion en:</h3>
              <div class="mb-1 text-muted">Ago 20</div>
              <p class="mb-auto">Bachiller en Ciencias Naturales especializado en Biotecnología,
                Bachiller en Informática especializado en Software y
                Técnico en Informática</p>
              <a href="#" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="220" height="240" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Mas sobre</text></svg>
    
            </div>
          </div>
        </div>
      </div>
   

{% endblock contenido %}